.center {
	margin: 0px 150px 0px 150px;
/*	background-color: gray;*/
}

/*#register_box {
	position: relative;
	top: 50px;
	background-color: #E0E0E0;
	box-shadow: 5px 5px 3px 3px #4F4F4F;
}*/

#register_box {
	margin-top: 20px;
	width: 400px;
	height: 320px;
	margin: auto;
	text-align: center;
	background-color: #E0E0E0;
	box-shadow: 5px 5px 3px 3px #4F4F4F;
	font-size: 20px;
	font-family: 標楷體;
	border-radius: 10px;
}

#register, #go_back {
	margin-top: 15px;
	width: 90px;
	height: 43px;
	box-shadow: 3px 3px 3px 3px #4F4F4F;
	border-radius: 5px;
}

input {
	margin: 4px;
}
/*body {
	background-color: gray;
}*/